<!DOCTYPE html>
<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Title">
</div>

<div class="form-group">
  <label for="post">Blog Post</label>
  <textarea type="text" class="form-control" id="post" name="body" placeholder="Type Blog Post Here" rows="3"></textarea>
</div>


<button type="submit" class="add-button btn btn-default">Add</button>
