<!DOCTYPE html>


<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Title">
</div>

<div class="form-group">
  <label for="body">Name</label>
  <textarea class="form-control" id="body" name="body" placeholder="Type Blog Here" rows="3"></textarea>
</div>

<button type="submit" class="add-button btn btn-default">Submit</button>
