$darkgray: #5a5b60;
$red: #d00;
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  color: $red;
  text-align: center;
}

.blog-form {
  box-shadow: 2px 2px 2px 2px $darkgray;
  color: $red;
  font-weight: bold;
  padding: 10px;
}

.add-button {
  color: $red;
}
