<!DOCTYPE html>
<div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title" name="title" placeholder="Title">
</div>

<div class="form-group">
  <label for="post">URL</label>
  <textarea type="url" class="form-control" id="url" name="url" placeholder="Type or Paste URL Here" rows="3"></textarea>
</div>

<div class="form-group">
  <label for="tag">Tags</label>
  <textarea type="tag" class="form-control" id="tag" name="tag" placeholder="Tags" rows="3"></textarea>
</div>


<button type="submit" class="add-button btn btn-default">Save</button>
